build/
release/
debug/

*.pro.user
*.pro.user.*
*.creator
*.creator.user
*.creator.user.*

*.o
*.obj

*.exe
*.out
*.app
*.ipa

*.a
*.lib
*.so
*.so.*
*.dylib

moc_*.cpp
qrc_*.cpp
ui_*.h

Makefile
Makefile.*
*.make

*.log
*.tmp
*.cache

.DS_Store
Thumbs.db

compile_commands.json
*qmlcache.qrc